.btn.btn-primary {
  $css-variables: (
    (--bs-btn-color, --bs-btn-hover-color, --bs-btn-active-color):
      var(--secondary-color),
    (
      --bs-btn-bg,
      --bs-btn-hover-bg,
      --bs-btn-active-bg,
      --bs-btn-border-color,
      --bs-btn-hover-border-color,
      --bs-btn-active-border-color,
    ):
      var(--main-color),
  );
  @each $variables ,$value in $css-variables {
    @each $variable in $variables {
      #{$variable}: $value;
    }
  }
  --bs-btn-border-radius: 20px;
  font-weight: bold;
}
