body {
  font-family: 'Roboto', sans-serif;
}

img,
video {
  max-width: 100%;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
input,
select,
option,
textarea,
button {
  border: none;
  outline: none;
}
