@use "../helpers/globals" as *;
@use "../helpers/mixins" as *;
@use "../helpers/placeholders" as *;

.main-heading {
  img {
    margin-bottom: 24px;
  }
  .sub-heading {

    &::after {
      content: "";
      @include position-style(absolute ,calc(100% + 15px));
      @extend %el-centered-h;
      width: 100px;
      height: 2px;
      background-color: #33d1cc;
    }
  }
}